body {
    background-color: #eaeded;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-shop {
    background-color: #131921;
    color: #ffffff;
}

.nav-item {
    color: #ffffff;
}

.nav-category-list {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.field-search {
    border-radius: 4px 4px 4px 4px;
}

.btn-shop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact {
    margin-top: 15%;
}

.form-contact {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 5%;
}

.form-field-contact {
    border: 1px solid #a6a6a6;
}

.contact-button {
    border-radius: 5px;
    border: 1px solid #9c7e31;
    background-color: #f3ce72;
}

.transition-appear {
    opacity: 0;
}

.transition-appear-active {
    opacity: 1;
    transition: opacity 500ms;
}

.marquee {
    white-space: nowrap;
    width: fit-content;
    display: inline;
}